@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');


body {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.025rem;
}